.sidebar{
    background:white;
    border-radius:20px;
    padding:20px;
    height:calc(100vh - 140px);
    overflow:hidden;
}

.sidebar-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.sidebar-header h2{
    font-size:24px;
}

.search-icon{
    cursor:pointer;
    color:#666;
}

.patients-list{
    display:flex;
    flex-direction:column;
    gap:12px;
    overflow-y:auto;
    height:90%;
    padding-right:5px;
}

/* Scrollbar */
.patients-list::-webkit-scrollbar{
    width:6px;
}

.patients-list::-webkit-scrollbar-thumb{
    background:#ccc;
    border-radius:10px;
}

.patient-card{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px;
    border-radius:12px;
    cursor:pointer;
    transition:0.3s;
}

.patient-card:hover{
    background:#f4f4f4;
}

.active-patient{
    background:#d8fcf7;
}

.patient-info{
    display:flex;
    align-items:center;
    gap:12px;
}

.patient-info img{
    width:48px;
    height:48px;
    border-radius:50%;
}

.patient-info h4{
    font-size:14px;
    margin-bottom:4px;
}

.patient-info p{
    font-size:12px;
    color:gray;
}

.more-icon{
    color:#666;
    cursor:pointer;
}